<header class="main-header">
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
	 
	  <!-- Wrapper for slides -->
	  <div class="carousel-inner banners" role="listbox">
	    <div class="item active banner">
	      <div class="carousel-caption"></div>
	    </div>
	    <div class="item banner">
	      <div class="carousel-caption"></div>
	    </div>
	  </div>
	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	  </a>
	  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	  </a>
	</div>
</header>

<nav class="main-navigation ">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="navbar-header">
                    <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="glyphicon glyphicon-menu-hamburger font-yellow"></i>
                    </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu list-unstyled">
					    <li class="nav-current" role="presentation"><a href="index.html">首页</a></li>
					    <li role="presentation"><a href="articles.html">文章</a></li>
					    <li role="presentation"><a href="works.html">作品</a></li>
					    <li role="presentation"><a href="website.html">酷站</a></li>
					    <li role="presentation"><a href="about.html">关于</a></li>
					</ul>   
                </div>
			</div>					
		</div>
	</div>
</nav>
<!--navigation end-->