html,body{
    margin: 0;
    padding: 0;
}
.calendar-container{
    height: 100%;
    border: 1px solid #5eaeff;
}
.cal-left,.cal-right{
    height: 100%;
}
.cal-left{
    float:left;
    width:100%;
}
.cal-right{
    position: relative;
    float: right;
    margin-left: -20%;
    width: 20%;

    background: #5eaeff;
}
