.font-yellow{
    color: #e67e22;
    outline: none;
}
.font-grey{
	color: #959595;
}
.no-link,.no-link:link{
	text-decoration: none;
	color: #959595;
}
.no-link:hover,.no-link:active{
	color: #e67e22;
	text-decoration:none;
}
.no-link:visited{
	color: #aaa;
	text-decoration: none;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}