<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhh.ssm.mapper.base.TagMapper" >
  <resultMap id="BaseResultMap" type="com.zhh.ssm.po.base.Tag" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="TagName" property="tagname" jdbcType="VARCHAR" />
    <result column="TagDesc" property="tagdesc" jdbcType="VARCHAR" />
    <result column="SortIndex" property="sortindex" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Id, TagName, TagDesc, SortIndex
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.zhh.ssm.po.base.TagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tag
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.zhh.ssm.po.base.TagExample" >
    delete from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zhh.ssm.po.base.Tag" >
    insert into tag (Id, TagName, TagDesc, 
      SortIndex)
    values (#{id,jdbcType=INTEGER}, #{tagname,jdbcType=VARCHAR}, #{tagdesc,jdbcType=VARCHAR}, 
      #{sortindex,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zhh.ssm.po.base.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="tagname != null" >
        TagName,
      </if>
      <if test="tagdesc != null" >
        TagDesc,
      </if>
      <if test="sortindex != null" >
        SortIndex,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tagname != null" >
        #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="tagdesc != null" >
        #{tagdesc,jdbcType=VARCHAR},
      </if>
      <if test="sortindex != null" >
        #{sortindex,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zhh.ssm.po.base.TagExample" resultType="java.lang.Integer" >
    select count(*) from tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tag
    <set >
      <if test="record.id != null" >
        Id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tagname != null" >
        TagName = #{record.tagname,jdbcType=VARCHAR},
      </if>
      <if test="record.tagdesc != null" >
        TagDesc = #{record.tagdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.sortindex != null" >
        SortIndex = #{record.sortindex,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tag
    set Id = #{record.id,jdbcType=INTEGER},
      TagName = #{record.tagname,jdbcType=VARCHAR},
      TagDesc = #{record.tagdesc,jdbcType=VARCHAR},
      SortIndex = #{record.sortindex,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhh.ssm.po.base.Tag" >
    update tag
    <set >
      <if test="tagname != null" >
        TagName = #{tagname,jdbcType=VARCHAR},
      </if>
      <if test="tagdesc != null" >
        TagDesc = #{tagdesc,jdbcType=VARCHAR},
      </if>
      <if test="sortindex != null" >
        SortIndex = #{sortindex,jdbcType=INTEGER},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhh.ssm.po.base.Tag" >
    update tag
    set TagName = #{tagname,jdbcType=VARCHAR},
      TagDesc = #{tagdesc,jdbcType=VARCHAR},
      SortIndex = #{sortindex,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>